<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Capture Me: AWS Developer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>
<body>

<div class="container">

    <div th:insert="header :: navbar"></div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <th:block th:if="${session.current_user}">
            Click <em>my photos</em> to access your photos.
        </th:block>
        <th:block th:unless="${session.current_user}">
            Click <em>login in / sign up</em> to access this site.
        </th:block>    
    </div>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>