<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Capture Me: AWS Developer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>
<body>

<div class="container">

    <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="#">Capture Me</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">home</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <th:block th:if="${session.current_user}">
                   <li><p class="navbar-text" th:text="${'Hello, ' + session.current_user.nickname}"></p></li>
                  <li><a href="/myphotos">my photos</a>
                  <li><a href="/logout">log out</a>
              </th:block>
              <th:block th:unless="${session.current_user}">
                 <li><a href="/login">log in / sign up</a>
              </th:block>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        
            <h4>Upload Photo</h4>
            <form method="POST" enctype="multipart/form-data" action="/myphotos">
                <div class="control-group">
                    <label class="control-label">Photo:</label>
                    <input type="file" name="photo"/>
                </div>
    
                &nbsp;
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Upload"/>
                    </div>
                </div>
            </form>
    
            <!-- Displayed last uploaded photo -->
            <th:block th:if="${recentUploaded}">
                <hr/>
                <h3>Uploaded!</h3>
                <img th:src="${recentUploaded.accessUrl}"/><br/>
                <span class="label label-info"
                      th:unless="${#lists.isEmpty(recentUploaded.labels)}"
                      th:each="label : ${recentUploaded.labels}"
                      th:text="${label}"/>
            </th:block>
    
            <!-- Displays all photos-->
            <th:block th:unless="${#lists.isEmpty(photos)}">
                <hr/>
                <h4>Photos</h4>
                <table class="table table-bordered" th:each="photo : ${photos}">
                    <tr>
                        <td rowspan="4" class="col-md-2 text-center"><img width="150" th:src="${photo.accessUrl}"/></td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-md-2">Labels</th>
                        <td th:text="${photo.labels}"/>
                    </tr>
                    <tr>
                        <th scope="row" class="col-md-2">Created</th>
                        <td th:text="${photo.uploadedAt}"/>
                    </tr>
                </table>
            </th:block>
    </div>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>