<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Capture Me: AWS Developer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>
<body>

<div class="container">

    <div th:insert="header :: navbar"></div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        
            <h4>Upload Photo</h4>
            <form method="POST" enctype="multipart/form-data" action="/myphotos">
                <div class="control-group">
                    <label class="control-label">Photo:</label>
                    <input type="file" name="photo"/>
                </div>
    
                &nbsp;
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Upload"/>
                    </div>
                </div>
            </form>
    
            <!-- Displays all photos-->
            <th:block th:unless="${#lists.isEmpty(photos)}">
                <hr/>
                <h4>Photos</h4>
                <table class="table table-bordered" th:each="photo : ${photos}">
                    <tr>
                        <td rowspan="4" class="col-md-2 text-center"><img width="150" th:src="${photo.accessUrl}"/></td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-md-2">Labels</th>
                        <td th:text="${photo.labels}"/>
                    </tr>
                    <tr>
                        <th scope="row" class="col-md-2">Created</th>
                        <td th:text="${photo.uploadedAt}"/>
                    </tr>
                </table>
            </th:block>
    </div>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>